<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Luis Plazas</title>
    <meta name="description" content="BlackTie.co - Free Handsome Bootstrap Themes"/>
    <meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
    <meta property="og:title" content="">

    <link rel="shortcut icon" type="image" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/animations.css">

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>


    <link rel="prefetch" href="images/zoom.png">

</head>

<body>
<div class="navbar navbar-fixed-top" data-active-slide="1">
    <div class="container">

        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>


        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav row">
                <li data-slide="1" class="col-12 col-sm-3">
                    <a id="menu-link-1" href="#slide-1" title="Next Section">
                        <span class="icon icon-home"></span>
                        <span class="text">HOME</span>
                    </a>
                </li>
                <li data-slide="2" class="col-12 col-sm-3">
                    <a id="menu-link-2" href="#slide-2" title="Next Section">
                        <span class="icon icon-user"></span>
                        <span class="text">EDUCATION</span>
                    </a>
                </li>
                <li data-slide="4" class="col-12 col-sm-3">
                    <a id="menu-link-3" href="#slide-4" title="Next Section">
                        <span class="icon icon-briefcase"></span>
                        <span class="text">EXPERIENCE</span>
                    </a>
                </li>
                <li data-slide="6" class="col-12 col-sm-3">
                    <a id="menu-link-4" href="#slide-6" title="Next Section">
                        <span class="icon icon-gears"></span>
                        <span class="text">CONTACT</span>
                    </a>
                </li>
            </ul>
            <div class="row">
                <div class="col-sm-2 active-menu"></div>
            </div>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar -->

<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
    <div style="width: 100%; height: 150px">
        <div class="waterfall-same-line" style="animation-delay: 0s; left: -160px;">
            <img class="img-pointer" data-slide="4" id="kiwi-image" href="#slide-4" data-slide="4" src="images/kiwi.png"
                 width="150px">
        </div>
        <div class="waterfall-same-line-2" style="animation-delay: 8s; left: -330px;">
            <img class="img-pointer" data-slide="4" id="monitor-image" href="#slide-4" data-slide="4"
                 src="images/monitor.png" width="150px">
        </div>
    </div>
    <!--<div class="waterfall" style="animation-delay: 0s;">-->
    <!--<img class="img-pointer" id="kiwi-image" href="#slide-4" data-slide="4" src="images/kiwi.png" width="150px">-->
    <!--</div>-->
    <div class="waterfall" style="visibility: hidden;">
        <img class="img-pointer" id="uniandes-image" src="images/uniandes.png" width="150px">
    </div>
    <!--<div class="waterfall" style="animation-delay: 5s;">-->
    <!--<img class="img-pointer" id="tennis-image" src="images/tennis.svg" width="150px">-->
    <!--</div>-->
    <div style="width: 100%; height: 150px">
        <div class="waterfall-same-line" style="animation-delay: 3s; left: -160px;">
            <img class="img-pointer" data-slide="2" id="tennis-image" src="images/tennis.svg" width="150px"
                 style="text-align: left">
        </div>
        <div class="waterfall-same-line-2" style="animation-delay: 11s; left: -330px;">
            <img class="img-pointer" data-slide="2" id="uniandes-image" src="images/uniandes.png" width="150px"
                 style="text-align: left">
        </div>
    </div>
    <br>
    <div style="width: 100%; height: 150px;">
        <div class="waterfall-same-line-3" style="animation-delay: 6s; left: -520px;">
            <img class="img-pointer" data-slide="2" id="java-image" src="images/java.png" width="150px"
                 style="text-align: left">
        </div>
        <div class="waterfall-same-line-4" style="animation-delay: 14s; left: -740px;">
            <img class="img-pointer" data-slide="4" id="angular-image" src="images/angular.png" width="150px"
                 style="text-align: left">
        </div>
    </div>
    <div class="container" id="mainInfoContainer">
        <div id="home-row-1" class="row clearfix">
            <div class="col-12">
                <div style="position: relative; left: -50%; ;">
                    <div class="mainDivBackground">
                        <h1 class="font-semibold" style="padding-top: 0px">Luis Felipe Plazas</h1>
                        <h4 class="font-thin">
                            <span class="font-semibold">Click</span> on any ball to see the magic
                        </h4>
                    </div>
                </div>
            </div><!-- /col-12 -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide1 -->

<!-- === Slide 2 === -->
<div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-thin">Computer Engineering student at<span class="font-semibold"> Universidad de los Andes </span>
            </div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row subtitle-row">
            <div class="col-12 font-thin">This is what I've learned and done so far</div>
        </div><!-- /row -->
        <div class="row content-row">
            <div class="col-12 col-lg-3 col-sm-6">
                <p><img src="images/networking.svg" width="80px"></p>
                <h2 class="font-thin"><span class="font-semibold">General stuff</span></h2>
                <h4 class="font-thin">General computer, engineering and finances knowledge.</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <p><i class="icon icon-laptop"></i></p>
                <h2 class="font-thin"><span class="font-semibold">Front end</span></h2>
                <h4 class="font-thin">Learned basic front end development using AngularJS and BootStrap</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <p><img src="images/server.png" width="80px"></p>
                <h2 class="font-thin"><span class="font-semibold">Back end</span></h2>
                <h4 class="font-thin">Learned backend development using Java EE and frameworks such as Play.</h4>
            </div><!-- /col12 -->
            <div class="col-12 col-lg-3 col-sm-6">
                <p><img src="images/tennis-ball.svg" width="82px"></p>
                <h2 class="font-semibold">Tennis</h2>
                <h4 class="font-thin">Member of the university's tennis team.</h4>
            </div><!-- /col12 -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide2 -->

<!-- === Slide 4 - Process === -->
<div class="slide story" id="slide-4" data-slide="4">
    <div class="container" id="resume">
        <div class="row title-row">
            <div class="col-12 font-thin">My<span class="font-semibold"> work </span>experience</div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div style="text-align: left">
            <!--Experience items-->
            <div class="col-6">

                <h3>Universidad de Los Andes</h3>
                <p class="info">Teacher assistant <span>&bull;</span> <em class="date">January 2015 - Present</em></p>
                <p style="font: 19px/22px 'opensans', sans-serif;">
                    I have worked as a teacher assistant for the following classes:
                <ul style="font: 19px/22px 'opensans', sans-serif;">
                    <li>
                        Algorithmics and programming oriented by Objects
                    </li>
                    <li>
                        Cupitaller
                    </li>
                    <li>
                        Computer Infrastructure fundamentals
                    </li>
                </ul>
                <span style="font: 19px/22px 'opensans', sans-serif;">
                    At the moment I am working as an <span class="font-semibold">undergraduate research assistant</span> for
                the COMIT group.
                </span>

                </p>

            </div>

        </div> <!-- item end -->

        <div class="row item" style="text-align: left">

            <div class="col-6">

                <h3>Kiwi Campus</h3>
                <p class="info">Full stack developer<span>&bull;</span> <em class="date">August 2016 - February
                        2017</em></p>

                <p style="font: 19px/22px 'opensans', sans-serif;">
                    Maintained and created new server functionalities using Java EE and NodeJS technologies.
                    Created and fully developed the web ordering page using AngularJS as main framework, it can be found
                    at:
                    <a id="kiwi-url" href="https://order.kiwicampus.com/" target="_blank">order.kiwicampus.com</a><br>

                </p>
            </div>
        </div> <!-- item end -->


    </div><!-- /container -->
</div><!-- /slide4 -->

<!-- === Slide 6 / Contact === -->
<div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>
        </div><!-- /row -->
        <div class="row line-row">
            <div id="map"></div>
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">You can contact me in any of the following
            </div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
        <div id="contact-row-4" class="row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
                <span class="hover-text font-light ">+57 304-4343433</span></a>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
                <span class="hover-text font-light ">lf.plazas10@uniandes.edu.co</span></a>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
                <span class="hover-text font-light ">Universidad de los Andes<br><Bogota></Bogota></span></a>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="https://www.facebook.com/Amazon/"><i class="icon icon-facebook"></i></a></p>
                <span class="hover-text font-light ">facebook.com/Amazon/</span></a>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="https://twitter.com/lfplazas10"><i class="icon icon-twitter"></i></a></p>
                <span class="hover-text font-light ">@lfplazas10</span></a>
            </div><!-- /col12 -->
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /Slide 6 -->

</body>

<!-- SCRIPTS -->
<script src="js/html5shiv.js"></script>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
<script src="js/script.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtgaFDTyIrZk16GuRFkReKyceD47fRYXs&callback=initMap" type="text/javascript">
</script>
<script>
    function initMap() {
        var uluru = {lat: 4.602787, lng: -74.065038};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>

<!-- fancybox init -->
<script>
    $(document).ready(function (e) {
        var lis = $('.nav > li');
        menu_focus(lis[0], 1);

        $(".fancybox").fancybox({
            padding: 10,
            helpers: {
                overlay: {
                    locked: false
                }
            }
        });

    });
</script>

</html>