body{
    /*overflow: hidden;*/
}
/*Waterfall efect for single ball*/
.waterfall {
    text-align: left;
    top: 5px;
    left: -160px;
    position: relative;
    animation-name: side-movement;
    animation-duration: 25s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes side-movement {
    0% {
        left: -160px;
        top: 5px;
    }
    100% {
        left: 110%;
        top: 5px
    }
}
/*End*/

/*Waterfall effect for 2 balls on the same line*/
.waterfall-same-line {
    float: left;
    padding: 10px;
    /*top: 5px;*/
    padding-top: 5px;
    position: relative;
    animation-name: side-movement-line;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes side-movement-line {
    0% {
        left: -160px;
        top: 1px;
    }
    100% {
        left: 110%;
        top: 1px
    }
}

.waterfall-same-line-2 {
    float: left;
    padding: 10px;
    top: 5px;
    position: relative;
    padding-top: 5px;
    animation-name: side-movement-line-2;
    animation-duration: 29s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes side-movement-line-2 {
    0% {
        left: -320px;
        top: 1px;
    }
    100% {
        left: 110%;
        top: 1px
    }
}
/*END*/
.waterfall-same-line-3 {
    float: left;
    padding: 10px;
    top: 5px;
    position: relative;
    animation-name: side-movement-line-3;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes side-movement-line-3 {
    0% {
        left: -520px;
        top: 5px;
    }
    100% {
        left: 110%;
        top: 5px
    }
}

.waterfall-same-line-4 {
    float: left;
    padding: 10px;
    top: 5px;
    position: relative;
    animation-name: side-movement-line-4;
    animation-duration: 29s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes side-movement-line-4 {
    0% {
        left: -740px;
        top: 5px;
    }
    100% {
        left: 110%;
        top: 5px
    }
}
.img-pointer {
    cursor: pointer;
}

#slide-1 {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*transform: rotate(3deg);*/
    color: black;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    background-position: center center;
}

#mainInfoContainer {
    width: 100%;
    position: absolute;
    top: 185px;
    left: 50%;
    text-align: center;
}

.mainDivBackground {
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-radius: 5px;
    padding-top: 0px;
}


@font-face {
    font-family: librebaskerville-italic;
    src: url(librebaskerville-italic-webfont.ttf);
}
@font-face {
    font-family: opensans-bold;
    src: url(OpenSans-Bold-webfont.ttf);
}
@font-face {
    font-family: opensans;
    src: url(OpenSans-Regular-webfont.ttf);
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#resume h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}
#resume h3 {
    font: 35px/40px 'opensans-bold', sans-serif;
}

#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }

.education, .work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
}
#resume .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
}
#resume .info span {
    margin-right: 5px;
    margin-left: 5px;
}
#resume .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
}
#map {
    /*z-index: 324323242;*/
    height: 400px;
    width: 100%;
}